@model studentFreelance.Models.freelancer

@{
    ViewData["Title"] = "Details";
}

<div>
<h1>Your Profile</h1>
    <hr />
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.skill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.skill)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phno)
        </dd>
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.college)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.college)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.email">View Freelancers Test Score</a>
</div>
