@model IEnumerable<studentFreelance.Models.freelancer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.skill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.college)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.skill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.college)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.email">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.email">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.email">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
